<div class="container">
    <div class="row">
        <div class="col-sm-2" *ngFor="let photo of photos">
            <img src="{{photo.photoUrl}}" alt="member photo" class="img-thumbnail p-1">
            <h4 class="text-center">{{photo.username}}</h4>
            <div class="text-center">
                <button class="btn btn-sm btn-success mr-1" (click)="approvePhoto(photo.id)">Approve</button>
                <button class="btn btn-sm btn-danger" (click)="rejectPhoto(photo.id)">Reject</button>
            </div>
        </div>
    </div>
</div>
